

#1c{
 margin-left: 24px !important;
 margin-top: 32px;
 margin-right: 24px !important;
 
}

#infoimage{

    padding-left: 24px !important;
    padding-right: 24px !important;
    margin:auto !important;
}
.navbar{
    height: 64px;
}

#info{
margin: 24px;
}